#sub-btn {
  width: 40vw;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.4em;
  justify-self: center;
}

fieldset {
  display: flex;
  border: none;
  padding: 1em;
}
#email-label,
#optout-label,
#english,
#japanese {
  padding: 0.8em;
  margin: 0.4em;
  font-size: 0.8em;
}
fieldset {
  font-size: 0.8em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 0.5em;
}

#sub-btn1 {
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#unsub-btn {
  background: rgb(133, 127, 127);
  color: white;
  text-decoration: none;
  border: none;
}
#notify {
  padding: 0.8em 1em;
  font-size: 0.8em;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
}
#webshopnotify {
  display: inline;
  float: right;
}

#dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;
  margin: 1em;
}
#btn {
  display: flex;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.3em;
  top: 100%;
  transform: translateX(370%);
}
#btn-contnr {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cont-btn {
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.6em;
  cursor: pointer;
}
.contact-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#cont-logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 5em;
}
#form {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  height: 55em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#cont-footer {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  padding: auto;
}

#textarea {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.input-rows {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}
.cont-err {
  font: 1em sans-serif;
  display: none;
  padding: 0.2em;
  margin-bottom: auto;
  color: firebrick;
}
input:invalid[focus="true"] ~ span {
  display: block;
}
#userid,
#usercode {
  color: rgb(255, 255, 255);
}
.admin {
  background: rgb(236, 4, 4);
  height: 100vh;
  width: 100vw;
  display: flex;
}
