#sub-btn {
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  margin: 1em;
}
fieldset {
  display: flex;
  border: none;
  padding: 1em;
}
#email-label,
#optout-label,
#english,
#japanese {
  padding: 0.8em;
  margin: 0.4em;
  font-size: 0.8em;
}
fieldset {
  font-size: 0.8em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 0.5em;
}

#sub-btn1 {
  position: sticky;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  margin: 0.4em;
  padding: 0.4em;
}
#unsub-btn {
  background: rgb(133, 127, 127);
  color: white;
  text-decoration: none;
  border: none;
}
#notify {
  padding: 0.8em 1em;
  font-size: 0.8em;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: center;
}
#webshopnotify {
  display: inline;
  float: right;
}
.mailinglist-page {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 13em;
}
#dropdown {
  padding: 0em 5.7em;
  text-align: center;
  font-size: 0.8em;
}
#btn {
  display: block;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.3em;
  top: 100%;
  transform: translateX(370%);
}
.contact-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 13em;
}
#form {
  margin: 4em;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
  display: flex;
  align-self: center;
  justify-content: center;
}

#textarea {
  display: block;
}
.input-rows {
  width: 340px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#userid,
#usercode {
  color: rgb(255, 255, 255);
}
.admin {
  background: rgb(236, 4, 4);
  height: 100vh;
  width: 100vw;
  display: flex;
}
