#about-us {
  width: 20vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#about-us > p {
  margin-top: 3em;
  display: flex;
  align-content: center;
  justify-content: center;
  text-indent: 2em;
}

.about-us-page {
  display: flex;
  align-items: center;
}
