#error {
  display: grid;
  grid-template-columns: fr(3);
  grid-template-areas: 'head head head', '. logo .', 'footer footer footer';
}
/* body {
  background: rgb(236, 4, 4);
} */

div {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
