#sub-btn {
  width: 40vw;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.4em;
  justify-self: center;
}

#sub-btn1 {
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#unsub-btn {
  background: rgb(133, 127, 127);
  color: white;
  text-decoration: none;
  border: none;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;
  margin: 1em;
}
#btn {
  display: flex;
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.3em;
  top: 100%;
  transform: translateX(370%);
}

.cont-btn {
  background: rgb(236, 4, 4);
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.6em;
  cursor: pointer;
}
.contact-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
#cont-logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 5em;
}

form {
  font-size: 0.8em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

textarea {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

input {
  text-align: center;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.input-rows {
  display: flex;
  align-items: center;
  padding: 3em;
}
.cont-err {
  font: 0.6em sans-serif;
  display: none;
  padding: 0.2em;
  margin-bottom: auto;
  color: rgb(236, 4, 4);
}
input:invalid[focus='true'] ~ span {
  display: block;
}
.admin {
  color: rgb(255, 255, 255);
}
#admin {
  background: rgb(236, 4, 4);
  height: 100vh;
  width: 100vw;
  display: flex;
}
#admin-list {
  background: rgb(236, 4, 4);
  list-style: none;
  display: none;
}
.inventory {
  background: rgb(236, 4, 4);
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
