.shop-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 30px;
}
.shop-tabs {
  grid-area: hd;
}
.shop-tabs a {
  text-decoration: none;
  color: black;
  padding: 0.7em;
  margin-top: 3em;
  margin-bottom: 1em;
}
.shop-tabs a:active {
  color: red;
}
.shop-tabs a:hover {
  color: red;
}

.product-box {
  display: grid;
  grid-template-columns: repeat(2, 40vh);
  grid-template-areas:
    '. . prod prod . .'
    '. . prod prod info .'
    '. . prod prod info .';
}
img {
  grid-area: prod;
}
.product-info {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.product-image {
  padding: 10px;
}
.product-price {
  grid-area: info;
}
.product-description {
  /* width: 50%; */
  grid-area: info;
}
.btn {
  grid-area: info;
  width: 50%;
  background-color: red;
  color: ghostwhite;
  border: none;
  padding: 10px 10px;
}
