@import 'error.css';
@import 'forms.css';
@import 'shop.css';
@import 'about.css';

body {
  margin: 0;
  padding: 0;
  font-family: Monaco;
  font-size: 0.8em;
}

@media only screen and (min-width: 992px) {
  #sign-in {
    margin: 10vh 1em 10vh;
  }
}
#search-bar {
  margin: 0;
  width: 50vw;
  border: 0em;
  opacity: 50%;
}

.main-page {
  background: white;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.suprime-red-box {
  background: rgb(236, 4, 4);
  padding: 0.8em;
  display: flex;
  align-items: center;
}

.suprime-logo-font {
  font-size: 3em;
  font-style: italic;
  font-family: Futura;
  color: ghostwhite;
  margin: 4px -5px;
}
.suprime-text-font {
  font-family: Monaco;
  color: #fff;
}
.logo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.links {
  text-decoration: none;
  margin-top: 5em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: black;
}

footer {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin: 2em;
}
.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sticky + body {
  padding-bottom: 60px;
}

.footer-links {
  display: flex;
  flex-flow: row;
  text-decoration: none;
  color: black;
}

#no-show {
  display: none;
}
#cart {
}
#cart-styling {
}
#cart-contr {
}
#cart-list {
}
.purchase {
}
.un-purchase {
}
