@import 'error.css';
@import 'forms.css';
@import 'shop.css';
@import 'about.css';

body {
  margin: 0;
  padding: 0;
  font-family: Monaco;
  font-size: 0.8em;
}

@media only screen and (min-width: 992px) {
  #sign-in {
    margin: 10vh 1em 10vh;
  }
}
#search-bar {
  margin: 0;
  width: 50vw;
  border: 0em;
  opacity: 50%;
}

.suprime-red-box {
  background: rgb(236, 4, 4);
  padding: 2em;
  display: flex;
  align-items: center;
}

.suprime-logo-font {
  font-size: 3em;
  font-style: italic;
  font-family: Futura;
  color: ghostwhite;
  margin: 4px -5px;
}
.suprime-text-font {
  font-family: Monaco;
  color: #fff;
}
.logo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
nav {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.links {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  color: black;
}
.links:hover {
  color: #fff;
  border-radius: 10%;
  padding: 1%;
  background-color: rgb(236, 4, 4);
  transition: 5ms ease-in-out;
}

footer {
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  background-color: ghostwhite;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  transform: 1s ease-in-out;
}

.footer-links {
  display: flex;
  flex-flow: row;
  text-decoration: none;
  color: black;
}

.footer-links:hover {
  opacity: 40%;
  transition: 3ms ease-in;
}

.sticky {
  position: fixed;
  background-color: rgb(236, 4, 4);
  bottom: 0;
  width: 100%;
  transition: 1s ease-in-out;
}

.sticky .footer-links {
  color: #fff;
  transition: 1s ease-in-out;
}

#no-show {
  display: none;
}
#cart {
}
#cart-styling {
}
#cart-contr {
}
#cart-list {
}
.purchase {
}
.un-purchase {
}
