@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

div {
  background: scroll;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.ui-card {
  background: #aab;
  text-align: justify;
  border-radius: 10%;
  padding: 20px;
}
.content {
  display: flex;
  flex-flow: column wrap;
}

.ui-two-buttons .ui-button-1 {
  background: rgb(200, 30, 20);
  border-radius: 10px;
  margin: 50px;
  padding: 0.23em 0.33em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.ui-two-buttons .ui-button-2 {
  background: rgb(20, 200, 20);
  border-radius: 10px;
  margin: 50px;
  padding: 0.23em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
